services:
 whoami-demo:
  image: "traefik/whoami"
  container_name: "${CONTAINER_NAME}"
  labels:
    - "traefik.enable=true"
    # HTTP router - redirects to HTTPS
    - "traefik.http.routers.${CONTAINER_NAME}-http.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)"
    - "traefik.http.routers.${CONTAINER_NAME}-http.entrypoints=web"
    - "traefik.http.routers.${CONTAINER_NAME}-http.middlewares=redirect-to-https"
    # HTTPS router
    - "traefik.http.routers.${CONTAINER_NAME}.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)"
    - "traefik.http.routers.${CONTAINER_NAME}.entrypoints=websecure"
    - "traefik.http.routers.${CONTAINER_NAME}.tls.certresolver=myresolver"
    - "traefik.http.routers.${CONTAINER_NAME}.priority=100"
    # Redirect middleware
    - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
    - "traefik.http.middlewares.redirect-to-https.redirectscheme.permanent=true"
  networks:
    - ${NETWORK_NAME}

networks:
  ${NETWORK_NAME}:
    external: true